data/
.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc

# CatBoost generated training logs
catboost_info/
notebooks/catboost_info/

# CatBoost generated training logs
catboost_info/
notebooks/catboost_info/
results/experiment_28_oof_predictions.csv
results/experiment_29_oof_predictions.csv
